/*Os senhores aluado, rabicho, almofadinhas e pontas têm o orgulho de apresentar... o mapa do estilo*/

body{
    background-color: black;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#div-tittle_LGPO{
    width: 100vw;
    margin: 0;
    margin-top: -1vh;
    padding: 0;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 2.5vh;
}

#div-main{
    background-color: white;
    width: 100vw;
    color: black;
    border-radius: 5px;
    height: 92vh;
}

#form-navigation{
    width: 100vw;
}

.botoes-de-navegacao{
    border-style: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 5px 5px 5px 5px; /* TOP RIGHT BOTTOM LEFT */
    box-shadow: none;
}

.botoes-de-navegacao:hover{
    background-color: rgba(244, 228, 195, .8);
    transition: all .4s;
}

/*TREEVIEW MANUAL*/
.TREEVIEW/*CLASSE DA <NAV> DA TREE VIEW 'LATERAL'*/{
    float: left;
    display: inline;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    font-family: serif;
    min-width: 25%;
    max-width: 25%;
    height: 600px;
}

.treeview-ul-geral-class/*CLASSE DA PRIMEIRA <UL> DA LISTA PÓS TÍTULO DA "INSTITUIÇÃO"*/{
    list-style: none;
}

.treeview-li-world-begin-class/*CLASSE DE CADA <LI> QUE VEM APÓS A PRIMEIRA <UL>, SENDO ASSIM AONDE FICAM OS "DEPARTAMENTOS"*/{
    
}

.treeview-li-world-proletariado-class/*NÍVEL MAIS BAIXO, AONDE FICAM AS MÁQUINAS DE UM MODO MAIS ESPECÍFICO DE ACORDO COM SEUS "UID's"*/{
    font-weight: normal;
}

.img-tree{
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

#tree-root ul{
    display: none;
    
}

#tree-root:checked + ul{
    display: block;
}
/*TREEVIEW MANUAL*/


    /*PAINEL DE VISUALIZAÇÃO DO ITEM SELECIONADO*/
.DESCRIPTION /*DIV QUE TEM COMO FUNÇÃO MOSTRAR AS OPÇÕES, FUNCIONALIDADES E ETC, RELACIONADAS AO CLICADO NA TREEVIEW*/{
    float: right;
    display: inline;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    font-family: serif;
    min-width: 70%;
    max-width: 70%;
}



/* RIGHT CLICK*/
.rightclickmenu { /* MENU RIGHT CLICK */
    border: 1px solid black;
    padding: 5px;
    font-family: serif;
    z-index: 9999;
    position:absolute;
    font: 11px sans-serif;
    display:none;

    background-color: red;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

}

.rightclickobject {
    border-bottom: 1px solid #eee;
    cursor:pointer;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.rightclickobject:hover {
    background-color: rgba(244, 228, 195, .8);
    transition: all .4s;

    display: flex;
    flex-direction: column;
}